@import '../../../../assets/style/variables.scss';

.AnalyticsHeaderContainer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: #fafaf7;
  padding: 2.75rem 0;
  @media (max-width: $lg-breakpoint) {
    padding: 5.25rem 0;
  }
}

.AnalyticsHeaderTop {
  position: relative;
  text-align: left;
  @media (max-width: $lg-breakpoint) {
    text-align: center;
    .analytics-content {
      margin: 0 auto;
    }
  }
}

.AnalyticsHeaderIllustration {
  @media (max-width: $lg-breakpoint) {
    display: none;
  }
}

.AnalyticsHeader {
  color: #306e50;
  font-family: 'Outfit_Bold';
  font-size: 2.1875rem;
  font-style: normal;
  line-height: 3.0625rem;
  margin: 0;
  margin-bottom: 0.82rem;
  max-width: 28.3125rem;
  width: 100%;
  @media (max-width: $lg-breakpoint) {
    margin: 0 auto 0.82rem;
  }
  @media (max-width: $sm-breakpoint) {
    font-size: 1.375rem;
    line-height: 2.1875rem;
    margin-bottom: 0.88rem;
  }
}

.AnalyticsHeaderTag {
  color: #69320c;
  font-family: 'Outfit_Regular';
  font-size: 1.125rem;
  font-style: normal;
  line-height: 2.125rem;
  margin-bottom: 2.12rem;
  @media (max-width: $sm-breakpoint) {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 2.19rem;
  }
}

.AnalyticsHeaderDescription {
  color: #2d2837;
  font-family: 'Outfit_Regular';
  font-size: 1.4375rem;
  font-style: normal;
  line-height: 2.125rem;
  margin-bottom: 4.81rem;
  max-width: 37.185rem;
  width: 100%;
  @media (max-width: $lg-breakpoint) {
    margin: 0 auto 4.81rem;
  }
  @media (max-width: $sm-breakpoint) {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 4.56rem;
  }
}

.CTAWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  @media (max-width: $lg-breakpoint) {
    flex-direction: column;
  }
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
