.feedback-widget {
  position: fixed;
  right: 14px;
  bottom: 14px;
  z-index: 550;
}

.feedback-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.feedback-form {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 300px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.feedback-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.feedback-form .feedback-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
