@import '../../../assets/style/variables.scss';

.notification-left {
  flex-basis: 30%;
  width: 100%;
  text-align: center;
  @media (max-width: $md-breakpoint) {
    flex-basis: 100%;
  }
}

.notification-right {
  flex-basis: 68%;
  @media (max-width: $md-breakpoint) {
    display: none;
  }
}

.rsprops-class-notification {
  display: none;
  @media (max-width: $md-breakpoint) {
    display: block;
  }
}
