@import '../../../assets/style/variables.scss';

.AnalyticsContainer {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: #edf7f1;
  padding: 9.5rem 0;
  @media (max-width: $sm-breakpoint) {
    padding: 6.19rem 0;
  }
}

.Analytics {
  position: relative;
  @media (max-width: $lg-breakpoint) {
    text-align: center;
  }
}

.AnalyticsHeader {
  color: #063875;
  font-family: 'Outfit_Bold';
  font-size: 1.5625rem;
  font-style: normal;
  line-height: 2.1875rem;
  margin: 0;
  margin-bottom: 1.88rem;
  max-width: 35.1875rem;
  width: 100%;
  @media (max-width: $lg-breakpoint) {
    margin: 0 auto 1.88rem;
  }
  @media (max-width: $sm-breakpoint) {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    margin-bottom: 2.44rem;
  }
}

.AnalyticsHeaderDescription {
  color: #2d2837;
  font-family: 'Outfit_Regular';
  font-size: 1.1375rem;
  font-style: normal;
  line-height: 2.1875rem;
  margin-bottom: 4.56rem;
  max-width: 34.875rem;
  width: 100%;
  @media (max-width: $lg-breakpoint) {
    margin: 0 auto 5.56rem;
  }
  @media (max-width: $sm-breakpoint) {
    font-size: 1rem;
    margin-bottom: 4.12rem;
  }
}

.AnalyticsIllustration {
  @media (max-width: $lg-breakpoint) {
    display: none;
  }
}

.CTAWrapper {
  display: flex;
  @media (max-width: $lg-breakpoint) {
    flex-direction: column;
  }
}
