@import '../../../assets/style/variables.scss';

.admin-settings-card {
  padding: 1.12rem;
  border-radius: 0.1875rem;
  border: 1px solid #eceefa;
  cursor: pointer;
  h4 {
    color: #303b79;
    font-size: 0.9625rem;
    font-style: normal;
    // font-weight: 400;
    line-height: normal;
    margin: 0 0 0.75rem;
  }
  p {
    color: #857a99;
    font-size: 0.6875rem;
    font-style: normal;
    // font-weight: 300;
    line-height: normal;
    margin: 0;
  }
}

.admin-setting-membership {
  .admin-setting-membership-select-add,
  .admin-setting-membership-select-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.26rem;
    gap: 15px;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  .admin-setting-membership-select-items {
    margin: 0;
  }

  .admin-setting-membership-form {
    border-radius: 0.1875rem;
    border: 1px solid #f2f4fa;
    padding: 1.12rem;
    margin-bottom: 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .admin-setting-membership-cta {
    display: flex;
    align-items: center;
    gap: 20px;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.admin-settings-sports-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.admin-settings-sports-form-cta {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
