@import '../../../assets/style/variables.scss';

.admin-overview {
  .admin-overview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.62rem;
    .admin-overview-header-left {
      .headertext {
        color: #50397c;
        font-size: 2.5rem;
        font-style: normal;
        // font-weight: 600;
        line-height: normal;
        margin: 0 0 0.81rem;
      }
      p {
        margin: 0;
        color: #7e7c83;
        font-size: 0.8125rem;
        font-style: normal;
        // font-weight: 400;
        line-height: normal;
      }
    }
    .admin-overview-header-right {
      flex-shrink: 0;
      max-width: 13.3125rem;
      width: 100%;
    }
  }

  .admin-overview-card-container {
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    justify-content: space-between;
    gap: 30px;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    @media (max-width: $lg-breakpoint) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .admin-overview-card {
      padding: 1.12rem 1.19rem;
      border-radius: 0.1875rem;
      border: 1px solid #eceefa;
      .admin-overview-card-title {
        color: #303b79;
        font-size: 0.9125rem;
        font-style: normal;
        // font-weight: 400;
        line-height: normal;
        margin: 0 0 1.62rem;
      }
      .admin-overview-card-value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          color: #857a99;
          font-size: 2.5rem;
          font-style: normal;
          // font-weight: 300;
          line-height: normal;
          margin: 0;
        }
        .admin-overview-card-percentage {
          display: flex;
          align-items: center;
          gap: 10px;
          @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          p {
            color: #83022b;
            text-align: right;
            font-size: 0.8125rem;
            font-style: normal;
            // font-weight: 400;
            line-height: normal;
            margin: 0;
            &.profit {
              color: #02835b;
            }
          }
        }
      }
    }
  }
}

.admin-overview-filter {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2.06rem;
  overflow: auto;
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .admin-overview-filter-item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
    padding: 0.5rem 0.88rem;
    border-radius: 0.125rem;
    background: #f5f7ff;
    transition: 0.2s ease;
    cursor: pointer;
    p {
      color: #a08ec3;
      font-size: 0.8125rem;
      font-style: normal;
      // font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    &.active {
      background: #50397c;
      p {
        color: #eceefa;
      }
    }
  }
}
