@import '../../../assets/style/variables.scss';

.question-feedback {
  @media (max-width: $lg-breakpoint) {
    text-align: center;
  }
}

.context-feedback {
  @media (max-width: $lg-breakpoint) {
    p {
      font-size: 14px;
      line-height: 2rem;
    }
  }
}

.number-of-feedbacks {
  @media (max-width: $lg-breakpoint) {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
  }
}

.controls-feedback {
  @media (max-width: $lg-breakpoint) {
    .control-item {
      p {
        display: none;
      }
    }
  }
}
