@import '../../../assets/style/variables.scss';

.box-transition {
  transition: 0.2s ease;
}

.svg-post-style {
  border: 1px solid #eaeaea;
  border-radius: 50%;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.u-reacted {
    border: none;
    background: var(--brand-light);
    svg path {
      fill: var(--brand);
    }
  }
}

.cf-status-indicator {
  border: 1px solid;
  padding: 3px 7px;
  border-radius: 5px;
  &.active {
    color: #0f9979;
    background: #e8faf6;
  }
  &.suspended {
    background: #faf9f5;
    color: #b69514;
  }
  &.banned {
    background: #faf5f7;
    color: #f56e9d;
  }
}

.cf-user-role-indicator {
  padding: 2px 4px;
  border-radius: 5px;
  background: #ffffff;
  &.admin {
    color: #62969e;
    border: 1px solid #cee1e4;
  }
  &.buyer {
    color: #aa936f;
    border: 1px solid #f0e8dc;
  }
  &.seller {
    color: #df83a3;
    border: 1px solid #f9dde7;
  }
}

.cf-user-tier-indicator {
  border: 1px solid;
  padding: 3px 7px;
  border-radius: 5px;
  &.Novice {
    color: #3498db;
  }
  &.Junior {
    color: #2ecc71;
  }
  &.Intermediate {
    color: #f39c12;
  }
  &.Senior {
    color: #e74c3c;
  }
  &.Master {
    color: #9b59b6;
  }
}

.community-post-wrapper {
  display: flex;
  height: 500px;
  overflow: auto;

  .community-post-section {
    flex-basis: 100%;
  }
  .community-post-ad-wrapper {
    flex-basis: 25%;
    .community-post-ad-section {
      position: sticky;
      top: 2px;
    }
  }
}

.community-forum-about {
  text-align: left;
  @media (max-width: $lg-breakpoint) {
    text-align: center;
  }
}
