.resultTable {
  border-collapse: separate;
  border-spacing: 0 1px;
  width: 100%;
  height: 100%;
  // table-layout: fixed;
  padding: 0;
  // border-top: 1px solid var(--primary-color-light);
  // border-bottom: 1px solid var(--primary-color-light);
  // border-radius: 5px;
  // table-layout: unset;
  // @media only screen and (min-width: 1000px){
  //     table-layout: fixed;
  // }
  tr {
    border-radius: 6px;
    display: table-row;
    border-bottom: 1px solid var(--primary-color-light);
    text-align: left;
  }
  td {
    font-size: 11;
    // font-weight: 300 !important;
    white-space: nowrap;
  }
  td,
  th {
    border: none;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 13;
    border-bottom: 1px solid var(--primary-color-light);
  }
  th {
    padding: 15px;
    font-size: 13px;
    // font-weight: 500;
    color: rgb(92, 92, 92);
    text-transform: capitalize !important;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .thead_blue {
    background: #fff !important;
    background-color: #fff !important;
    color: #101010;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }
  tbody tr {
    background-color: #fff;
    // box-shadow: 0px 4px 4px rgba(240, 235, 235, 0.25);
  }
  .notactive {
    background-color: var(--primary-color) !important;
    box-shadow: none !important;
  }
  .tel_input {
    height: 52px !important;
    font-size: 18px !important;
  }
  .tel_input input {
    height: 100% !important;
    max-width: 310px !important;
    width: 100% !important;
    border: 1px solid darkgrey !important;
  }
}

.winner-class-table {
  border: 1px solid #54b35f;
  background: #cdf9d5;
  color: #0d6618;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 500;
}

.table-link-container {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underlined;
  display: flex;
  cursor: pointer;
  &.true {
    text-decoration: none;
  }
  &:hover {
    color: var(--primary-color);
  }
}

.table-container {
  width: 100%;
}

.table-check-box-column {
  padding: 10px 0px 10px 15px;
}

.table-cell-image-component {
  margin-right: 35px;
  cursor: pointer;
  &.true {
    margin-right: 0;
  }
}

.table-cell-action-section {
  display: flex;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.filter-button {
  width: max-content;
  height: 43px;
  font-size: 16px;
  padding: 0 15px;
  font-family: 'Outfit_Regular', 'Arial', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin-right: 20px;
  border: 1px solid #daefe0;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.table-button {
  border: none;
  font-family: 'Outfit_Regular', 'Arial', 'sans-serif';
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
  display: flex;
  width: max-content;
  text-decoration: none;
  .true {
    margin-right: 0;
  }
}
