@import '../../../assets/style/variables.scss';

.wallet-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $lg-breakpoint) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.wallet-checkout-cta {
  @media (max-width: $lg-breakpoint) {
    margin: auto;
  }
}
