@import '../../../assets/style/variables.scss';

.notify-indicator {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
  top: 23%;
  right: -7;
}

.mobile-wrapper {
  .all-notification-wrapper {
    align-items: center;
    height: 50px;
    position: relative;
  }
  .mobile-notification {
    display: none;
  }
  .desktop-notification {
    display: flex;
  }
  @media (max-width: $sm-breakpoint) {
    .desktop-notification {
      display: none;
    }
    .mobile-notification {
      display: flex;
    }
  }
}
