@import '../../../assets/style/variables.scss';

.side-content {
  position: sticky;
  top: 90px;
  @media (max-width: $md-breakpoint) {
    width: 100%;
  }
}

.side-content-wrapper {
  flex-basis: 35%;
  @media (max-width: $md-breakpoint) {
    flex-basis: 100%;
  }
}
