@import '../../assets/style/variables.scss';

.admin-page {
  width: 100%;
  min-height: 100vh;
  padding: 5.62rem 0;
  background: #f6f6f6 !important;
  @media (max-width: $md-breakpoint) {
    background: #fff !important;
  }
  .admin-page-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 4.88rem 4.44rem;
    background: #fff;
  }
}
.admin-header-text {
  color: #2d2837;
  font-size: 1.875rem;
  font-style: normal;
  // font-weight: 500;
  line-height: normal;
  margin: 0 0 2.19rem;
}

.admin-form {
  width: 100%;
  max-width: 27.8125rem;
  margin: 0.86325rem auto;
  text-align: center;
  gap: 40px;
  display: flex;
  flex-direction: column;
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.admin-filter-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .admin-filter-cta {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0.93625rem 0 0;
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
