@import '../../../assets/style/variables.scss';

.feedback-right-section {
  overflow: auto;
  height: 63vh;
  @media (max-width: $lg-breakpoint) {
    height: auto;
  }
}

.feedback-card-header-section {
  justify-content: space-between;
  @media (max-width: $lg-breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.feedback-card-header-right-section {
  @media (max-width: $lg-breakpoint) {
    align-items: center;
    text-align: center;
    gap: 5px;
  }
}
